{% extends 'main.html' %}
{% load static %}

{% block content %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Orders</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body p-0">
							{% if order_list %}
							<table class="table table-striped">
								<thead>
									<tr>
										{% comment %} <th style="width: 10px">#</th>
										<th>Task</th>
										<th>Progress</th>
										<th style="width: 40px">Label</th> {% endcomment %}
										<th>Name</th>
										<th>Order #</th>
										<th>Date</th>
										<th>Email</th>
										<th>Phone #</th>
										{% comment %} <th>Subtotal</th> {% endcomment %}
										<th>Paid</th>
									</tr>
								</thead>
								<tbody>
									{% for order in order_list %}
										<tr>
											<td>
												<a href="{{ order.get_absolute_url }}">{{ order.name }}</a>
											</td>
											<td>{{ order.id }}</td>
											<td>{{ order.date }}</td>
											<td>{{ order.email_address }}</td>
											<td>{{ order.phone }}</td>
											{% comment %} <td>$</td> {% endcomment %}
											<td><div class="paid"></div>{{ order.paid }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							{% else %}
								<p>There are no orders in the database.</p>
							{% endif %}
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>
		</div>
{% endblock %}
